
/* 
seletor:pseudo-classe {
    propriedade: valor;
} 
*/

/*
p:first-child {
    color:aquamarine;
}

p:last-child {
    color:blueviolet
}

p:not(.padrao) {
    color: green;
}

p:nth-child(odd) {
    color: red;
}

p:nth-child(even) {
    color: black;
} 
*/

/*
li:nth-child(2n) {
    color:blue;
}

 li:nth-child(n+2):nth-child(-n+5) {
    color:blueviolet;
}
*/

li:nth-last-child(1) {
    color: red;
}

p:only-child {
    color:red;
}
